BROKER_URL=mqtt://localhost:1883
MQTT_PREFIX=house
JWT_SECRET=change_this_secret
ADMIN_USER=admin
# bcrypt hash for 'admin123' (example)
ADMIN_PASS_HASH=$2b$10$TBINLoSw7VLxw8103lDia.Mi0dUT0o8rk19hZKOdXi08orsB6Y.4e
DB_FILE=house.db
SENSOR_INTERVAL_MS=60000
TEMP_HIGH=26.0
HUMIDITY_HIGH=60.0